// Here goes your sass styling

// logo
.logo_container > svg {
  animation-name: rotateLogo;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes rotateLogo {
  to {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
