.home {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: map.get($color-basic, darkest);
}

.logo-container svg {
  animation-name: animateIt;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
  animation-delay: 3s;
}

@keyframes animateIt {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
