$font-sizes: (
  default: 16px,
);

$color-basic: (
  brightest: #ffffff,
  brighter: #f1f1f1,
  bright: #dddddd,
  dark: #cccccc,
  darker: #aaaaaa,
  darkest: #444444,
);

$break-points: (
  mobile: 500px,
  tablet: 768px,
  web: 1028px
);
