$font-sizes: (
  "default": 16px,
);

$primary: (
  "light": #984141,
);

$color-basic: (
  "brightest": #ffffff,
  "brighter": #f1f1f1,
  "bright": #dddddd,
  "dark": #cccccc,
  "darker": #aaaaaa,
  "darkest": #1f1e1e,
);

$break-points: (
  "mobile": 500px,
  "tablet": 768px,
  "web": 1028px,
);
